@import '@alfalab/core-components/vars/typography.css';
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: var(--gap-0);
    padding: var(--gap-0);
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(11, 31, 53, 0.95);
    font-family:
        system-ui,
        -apple-system,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        'Roboto Rouble',
        sans-serif;
    @mixin paragraph_component_primary;
    letter-spacing: 0;
    background-color: rgb(255, 255, 255);
}
